# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Dataset junk (keep real dataset)
dataset/*.zip
dataset/*.rar

# Build / dist
build/
dist/
*.egg-info/
